{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col col-12 col-md-7">
      <div class="card">
        <h2 class="card-header">{% trans "Voice Circuit" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ object.get_voice_circuit_type_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Assignment" %}</th>
            <td>
              {% if object.assigned_object %}
                {{ object.assigned_object.parent_object|linkify }} / {{ object.assigned_object|linkify }}
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Tenant" %}</th>
            <td>{{ object.tenant|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Region" %}</th>
            <td>{{ object.region|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Site" %}</th>
            <td>{{ object.site|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Provider" %}</th>
            <td>{{ object.provider|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Provider Circuit ID" %}</th>
            <td>{{ object.provider_circuit_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-5">
      {% if object.voice_circuit_type == 'sip_trunk' %}
        <div class="card">
          <h2 class="card-header">{% trans "SIP Trunk Details" %}</h2>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Source" %}</th>
              <td>{{ object.sip_source|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Target" %}</th>
              <td>{{ object.sip_target|placeholder }}</td>
            </tr>
          </table>
        </div>
      {% endif %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
